@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");

#User {
  padding-top: 0.1px;
}
#user_container {
  display: grid;
  justify-items: center;
  margin-top: 10%;
  /* align-items: center; */
  /* text-align: center; */
}
#user_container .buttons {
  display: flex;
  gap: 1rem;
}
#user_container .buttons button{
  background-color: #0084d6;
  border: 1px solid #0084d6;
  margin-bottom: 5px;
  color: white;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-size: 12.768px;
  font-weight: 590;
  letter-spacing: 1px;
  padding: 0.5rem 2rem;

  /* justify-content: center; */
  /* margin-right: 1.5rem; */
  &:hover {
    background-color: #0075be;
    color: #ffffff;
    border: 1px solid #0075be;
  }
}
#User .logout {
  background-color: #0084d6;
  border: 1px solid #0084d6;
  margin-bottom: 5px;
  color: white;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-size: 12.768px;
  font-weight: 590;
  letter-spacing: 1px;
  padding: 0.5rem 2rem;

  /* justify-content: center; */
  /* margin-right: 1.5rem; */
  &:hover {
    background-color: #0075be;
    color: #ffffff;
    border: 1px solid #0075be;
  }
}
#User .delete {
  background-color: #0084d6;
  border: 1px solid #0084d6;
  margin-bottom: 5px;
  color: white;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-size: 12.768px;
  font-weight: 590;
  letter-spacing: 1px;
  padding: 0.5rem 2rem;

  /* justify-content: center; */
  /* margin-right: 1.5rem; */
  &:hover {
    background-color: #0075be;
    color: #ffffff;
    border: 1px solid #0075be;
  }
}
#Contact_Form {
  display: grid;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}
.Contact-Form_container {
  /* margin-top: 20%; */
  padding: 4rem;
  width: 20rem;
}
.contact_form {
  padding: 2rem;
  border: 1px solid black;
  border-radius: 1rem;
}
.contact_form .title {
  font-size: 3rem;
  font-family: "Shrikhand", cursive;
  text-decoration: none;
  cursor: pointer;
}
.contact_form .inputs p {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 100;
  font-size: 1.2rem;
  /* font-size: 1.5rem; */
}
.contact_form .inputs p span {
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  font-size: 1.4rem;
  font-style: italic;
}
#or {
  /* font-style: normal;
  font-weight: 600; */
  text-align: center;
}
.inputs p {
  text-align: center;
  font-style: normal;
}
.inputs {
  display: grid;
  justify-content: center;
  font-weight: bold;
  gap: 1rem;
}
.inputs input {
  text-align: center;
  height: 30px;
  width: 96%;
}
.contact_form button {
  position: relative;
  height: 2rem;
  width: 65%;
  margin-left: 20%;
  background-color: #0084d6;
  border: 1px solid #0084d6;
  margin-bottom: 5px;
  color: white;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-size: 12.768px;
  font-weight: 595;
  letter-spacing: 1px;
  /* padding: 0.5rem ; */

  /* justify-content: center; */
  /* margin-right: 1.5rem; */
  &:hover {
    background-color: #0075be;
    color: #ffffff;
    border: 1px solid #0075be;
  }
}
/* .inputs p {
  text-align: center;
  font-style: normal;
}
.inputs {
  display: grid;
  justify-content: center;
  font-weight: bold;
  gap: 1rem;
}
.inputs input {
  text-align: center;
  height: 30px;
  width: 100%;
} */
.contact_form button {
  position: relative;
  height: 2rem;
  width: 65%;
  margin-left: 20%;
  background-color: #0084d6;
  border: 1px solid #0084d6;
  margin-bottom: 5px;
  color: white;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-size: 12.768px;
  font-weight: 595;
  letter-spacing: 1px;
  /* padding: 0.5rem ; */

  /* justify-content: center; */
  /* margin-right: 1.5rem; */
  &:hover {
    background-color: #0075be;
    color: #ffffff;
    border: 1px solid #0075be;
  }
}

.butn div {
  /* text-size-adjust: 10px; */
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  & svg {
    /* font-size: 14px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
